<h1><%= @session.created_at.to_date %></h1>

<ul>
  <li>
    Participants
    <ul>
      <% @session.users.each do |user| %>
        <li>
          <%= user.name %><%= " <em>(observer)</em>".html_safe if user.observer?(@session) %>
        </li>
      <% end %>
    </ul>
  </li>
  <li>
    Tickets
    <ul>
      <% @session.estimation_tickets.each do |ticket| %>
        <li>
          <%= link_to ticket.ticket, ticket %>
        </li>
      <% end %>
      <li>
        <%= form_for @session.estimation_tickets.new, url: estimation_tickets_estimation_session_path(@session) do |form| %>
          <%= form.text_field :ticket %>
          <%= form.submit %>
        <% end %>
      </li>
    </ul>
</ul>
