<ul>
  <% if signed_in? %>
    <li>
      <%= link_to t(".click_here"), estimation_sessions_path %>
      <%= t(".estimation_tool") %>
    </li>
    <li>
      <%= link_to t(".click_here"), root_path %>
      <%= t(".retro_tool") %>
    </li>
    <li>
      <%= link_to t(".click_here"), root_path %>
      <%= t(".checklist_tool") %>
    </li>
  <% else %>
    <li>
      <%= link_to t(".click_here"), new_user_session_path %>
      <%= t(".sign_in") %>
    </li>
    <li>
      <%= link_to t(".click_here"), new_user_registration_path %>
      <%= t(".register") %>
    </li>
  <% end %>
</ul>
